/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----------------*/

@font-face {
  font-family: "Jost";
  font-display: swap;
  src: url('../fonts/JostBold.woff') format('woff'), url('../fonts/JostBold.woff2') format('woff2');
  font-weight: "700";
  font-style: "normal";
}

@font-face {
  font-family: "Jost";
  font-display: swap;
  src: url('../fonts/JostMedium.woff') format('woff'), url('../fonts/JostMedium.woff2') format('woff2');
  font-weight: "500";
  font-style: "normal";
}

body {
  font-family: 'Jost';
  font-weight: 500;
}

.container {
  max-width: 1820px;
  margin: 0px auto;
  padding: 0px 50px;
}

.header__burger {
  height: 22px;
  width: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  z-index: 510;
}

.menu__icon {
  position: relative;
  width: 25px;
  height: 3.5px;
  background-color: #151515;
}

.menu__icon::before {
  content: '';
  position: absolute;
  left: 0;
  display: block;
  top: -8px;
  width: 25px;
  height: 3.5px;
  background-color: #151515;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  -o-transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}

.menu__icon::after {
  position: absolute;
  content: '';
  left: 0;
  display: block;
  top: 8px;
  width: 25px;
  height: 3.5px;
  background-color: #151515;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  -o-transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}

.icon-active {
  background-color: transparent;
}

.icon-active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  -o-transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}

.icon-active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  -o-transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}

.menu-active {
  opacity: 1;
  visibility: visible;
}

.body-activeee {
  overflow: hidden;
}

.header {
  background-color: #dadad8;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link {
  color: #151515;
  font-size: 20px;
  margin: 0px 45px 0px 0px;
}

.header__link:last-child {
  margin-right: 0;
}

.header__logo {
  position: absolute;
  left: 50%;
  margin: 0px 0px 0px -58.5px;
}

.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item {
  width: 16px;
  height: 16px;
  margin: 0px 25px 0px 0px;
  z-index: 20;
  position: relative;
  top: 10px;
}

.header__item--1 {
  background-image: url(../img/1.png);
  margin-left: 5px;
}

.header__item--2 {
  background-image: url(../img/2.png);
}

.header__item--3 {
  background-image: url(../img/3.png);
}

.header__search {
  width: 300px;
  height: 40px;
  position: relative;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.search__active {
  opacity: 1;
  visibility: visible;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.crug-all {
  width: 16px;
  height: 16px;
  background-color: #151515;
  border-radius: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
  font-size: 11px;
  color: #ffffff;
  margin: 1px 0px 0px 16.5px;
}

.marketing {
  position: absolute;
  position: fixed;
  bottom: 50px;
  width: 280px;
  height: 115px;
  margin-left: 50px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 30px #000000;
          box-shadow: 0 0 30px #000000;
  background-color: #ffffff;
  -webkit-transform: translateX(0vw);
      -ms-transform: translateX(0vw);
          transform: translateX(0vw);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  z-index: 100;
}

.marketing__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 12.5px 15px 0px;
}

.marketing__images {
  margin-right: 15px;
}

.marketing__images img {
  width: 70px;
  height: 90px;
}

.marketing__title {
  color: #858585;
  font-size: 11px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 8px;
}

.marketing__text {
  color: #151515;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 7px;
  line-height: 22px;
}

.marketing__subtext {
  color: #858585;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  line-height: 13px;
}

.marketing__close img {
  cursor: pointer;
}

.marketing__close img:hover {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.marketing__end {
  -webkit-transform: translateX(-150vw);
      -ms-transform: translateX(-150vw);
          transform: translateX(-150vw);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.home-slider {
  background-color: #dadad8;
  margin-bottom: 50px;
}

.home-slider__container {
  max-width: 1350px;
  margin: 0px auto;
  padding: 0px 50px;
}

.home-slider__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-slider__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  margin: 0px 0px 0px 3%;
}

.home-slider__body-left {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
  margin: 0px 3% 0px 0px;
}

.home-slider__text1 {
  color: #151515;
  font-size: 82px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  white-space: nowrap;
}

.home-slider__text2 {
  color: #151515;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

.home-slider__images {
  margin: 0px 3% 0px 0px;
}

.home-slider__images-left {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
  margin: 0px 0px 0px 3%;
}

.home-slider__images img {
  height: 567px;
}

.slider {
  position: relative;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50%;
  margin-left: -39.5px;
  bottom: 10px;
}

.slider .slick-dots li {
  margin: 0px 5px;
}

.slider .slick-dots li button {
  font-size: 0;
  width: 8px;
  height: 8px;
  background-color: #ececeb;
  border-radius: 50%;
  border: 1px solid #ffffff;
}

.slider .slick-dots li.slick-active button {
  width: 15px;
  height: 15px;
  background-color: #ffffff;
}

.slider .slick-dots li.slick-active button::before {
  content: '';
  background-color: #000;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-arrow {
  position: absolute;
  width: 48px;
  height: 48px;
  border: 2px solid black;
}

.banners__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.banners__container {
  max-width: 1820px;
  margin: 0px auto;
}

.column-banners {
  width: 480px;
  height: 290px;
  background-color: #cfd1d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 50px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.column-banners__body {
  margin-top: 80px;
}

.column-banners__text1 {
  color: #151515;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}

.column-banners__text2 {
  color: #151515;
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
}

.column-banners2 {
  background-color: #e9e4df;
}

.column-banners3 {
  background-color: #eeeeec;
}

.shop {
  margin-bottom: 30px;
  margin-top: 100px;
  position: relative;
}

.shop__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shop__item {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 40px;
  color: #858585;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 40px;
  cursor: pointer;
  height: 26px;
}

.shop__item-active {
  color: #151515;
}

.shop__item:last-child {
  margin-right: 0;
}

.shop__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  max-width: 1420px;
  margin: 0px auto;
}

.shop-btn {
  background-color: #fff;
  max-width: 65px;
  margin: 30px auto;
}

.shop-btn__body {
  text-align: center;
  cursor: pointer;
}

.shop-btn__text {
  color: #858585;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 3px;
}

.shop-btn__image img {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.shop-btn-active .shop-btn__image img {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.shop-more {
  display: none;
}

.shop-more-active {
  display: block;
}

.block-shop {
  width: 275px;
  margin: 0px 0.3% 20px 0.3%;
  padding-bottom: 20px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.block-shop__images {
  width: inherit;
  display: block;
  height: 347px;
  overflow: hidden;
}

.block-shop__images img {
  width: inherit;
  background-color: #f8f8f8;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.block-shop__characteth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 13px;
  margin-top: 25px;
  height: 15px;
}

.block-shop__characteth--text {
  color: #000;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 5px;
}

.block-shop__name {
  color: #454545;
  font-size: 15px;
  font-weight: 600;
}

.block-shop__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 11px;
  position: relative;
}

.block-shop__price {
  color: #151515;
  font-size: 13px;
  font-weight: 700;
}

.block-shop__price span {
  color: #959595;
  text-decoration: line-through;
  padding-left: 10px;
}

.block-shop__like {
  display: block;
  margin-right: 15px;
  position: absolute;
  top: -6px;
  right: 0px;
  cursor: pointer;
  background-image: url(../img/like.png);
  background-repeat: no-repeat;
  background-size: 18px 16px;
  width: 18px;
  height: 16px;
}

.block-shop__like--active {
  background-image: url(../img/like-full.png);
  background-size: 18px 16px;
  width: 20px;
  height: 18px;
}

.shop-animation1 {
  -webkit-animation: animation1 1s ease-in;
          animation: animation1 1s ease-in;
}

@-webkit-keyframes animation1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animation1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.shop-animation2 {
  -webkit-animation: animation2 1s ease-in;
          animation: animation2 1s ease-in;
}

@-webkit-keyframes animation2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes animation2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.shop-banner {
  margin-top: 60px;
}

.shop-banner__container {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shop-banner__title {
  color: #ffffff;
  font-size: 48px;
  font-weight: 500;
  text-align: center;
  z-index: 1;
  margin-bottom: 15px;
}

.shop-banner__text {
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  z-index: 1;
  cursor: pointer;
  height: 18px;
}

.shop-banner__banner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  padding: 130px 0px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.shop-banner--man {
  background-image: url(../img/18.jpg);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.shop-banner--man::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #d70808;
  opacity: 0.1;
}

.shop-banner--woman {
  background-image: url(../img/19.jpg);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.shop-banner--woman::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.1;
}

.footer {
  position: relative;
  margin-top: 50px;
}

.footer__container {
  max-width: 1330px;
  margin: 0px auto;
  padding: 0 30px;
}

.footer__container2 {
  max-width: 1330px;
  margin: 0px auto;
  padding: 0 30px;
}

.footer-catolog__body1 {
  margin-left: 15%;
}

.footer__block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.footer__column:not(:last-child) {
  margin-right: 25px;
}

.footer__column:nth-child(3) {
  position: relative;
  width: 650px;
}

.footer__column a {
  display: block;
}

.footer__title {
  color: #151515;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.footer__text {
  color: #454545;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 20px;
  cursor: pointer;
}

.footer__form {
  position: relative;
  height: 85px;
}

.footer__email {
  width: 650px;
  border-bottom: 3px solid #151515;
  margin: 15px 0px 0px;
  padding: 10px;
}

.footer__email:hover {
  -webkit-box-shadow: 0 0 15px black;
          box-shadow: 0 0 15px black;
  border: none;
}

.footer__email:focus {
  border: 3px solid #151515;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.footer__btn {
  position: absolute;
  bottom: 35px;
  right: 15px;
  color: #151515;
  font-size: 15px;
  font-weight: 700;
  background-color: #fff;
}

.footer__block2 {
  height: 80px;
  padding-top: 43px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.footer__body1,
.footer__body2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__policy {
  margin-right: 45px;
  font-size: 14px;
  font-weight: 700;
  color: #151515;
  cursor: pointer;
  padding-bottom: 15px;
}

.footer__policy:last-child {
  margin-right: 0;
}

.footer__policy-catalog {
  margin-right: 45px;
  font-size: 14px;
  font-weight: 700;
  color: #151515;
  cursor: pointer;
}

.footer__policy-catalog:last-child {
  margin-right: 0;
}

.footer__icon {
  margin-left: 30px;
}

.footer__icon:first-child {
  margin-left: 0;
}

.btn__up {
  width: 40px;
  height: 40px;
  -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  border-radius: 50%;
  position: fixed;
  right: 3%;
  bottom: 20%;
}

.btn__up::before {
  content: '';
  display: block;
  background-image: url(../img/btn__up.png);
  background-repeat: no-repeat;
  width: 12px;
  height: 21px;
  margin-left: 14px;
  margin-top: 9.5px;
}

@media (min-width: 992px) {
  .header__link:hover {
    border-bottom: 3px solid #151515;
  }

  .column-banners:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }

  .shop__item:hover {
    color: #151515;
    border-bottom: 3px solid #151515;
  }

  .shop-btn__body:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .block-shop:hover .block-shop__images img {
    background-color: #efefec;
    -webkit-transform: scale(1.12);
        -ms-transform: scale(1.12);
            transform: scale(1.12);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }

  .shop-banner--man:hover {
    -webkit-transform: translate3d(0px, -20px, 0px);
            transform: translate3d(0px, -20px, 0px);
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    -o-transition: transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
  }

  .shop-banner--woman:hover {
    -webkit-transform: translate3d(0px, -20px, 0px);
            transform: translate3d(0px, -20px, 0px);
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    -o-transition: transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
  }
}

@media (max-width: 1525px) {
  .shop__row {
    max-width: 1130px;
  }
}

@media (max-width: 1400px) {
  .banners__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .banners__row {
    display: block;
  }

  .column-banners {
    width: 680px;
    margin-bottom: 30px;
  }

  .column-banners:last-child {
    margin-bottom: 0;
  }

  .column-banners__text1 {
    font-size: 40px;
  }

  .column-banners__text2 {
    font-size: 20px;
  }

  .shop-banner {
    margin-top: 45px;
  }
}

@media (max-width: 1250px) {
  .home-slider__text1 {
    font-size: 65px;
  }
}

@media (max-width: 1230px) {
  .shop__row {
    max-width: 845px;
  }
}

@media (max-width: 1100px) {
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0px;
    font-size: 40px;
    margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__link::after {
    content: '';
    width: 200%;
    height: 4px;
    background-color: black;
    margin-top: 6px;
  }

  .header__list {
    position: absolute;
    top: 100px;
    opacity: 0;
    visibility: hidden;
    z-index: 5;
  }

  .header__nav {
    background-color: rgba(133, 133, 133, 0.9);
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: top 0.5s ease-in;
    -o-transition: top 0.5s ease-in;
    transition: top 0.5s ease-in;
    z-index: 500;
  }

  .list-active {
    opacity: 1;
    visibility: visible;
  }

  .nav-active {
    top: 0;
  }
}

@media (max-width: 1024px) {
  .home-slider__text1 {
    font-size: 50px;
  }

  .home-slider__text2 {
    font-size: 15px;
  }

  .home-slider__images img {
    height: 450px;
  }

  .shop-banner__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .shop-banner--man {
    width: 100%;
    height: 450px;
    margin-bottom: 30px;
  }

  .shop-banner--woman {
    width: 100%;
    height: 450px;
  }

  .footer__block1 {
    margin-bottom: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__column:nth-child(3) {
    width: 450px;
  }

  .footer__form {
    width: 450px;
  }

  .footer__email {
    width: 450px;
  }
}

@media (max-width: 980px) {
  .footer-catolog__body1 {
    margin-left: 1%;
    display: block;
  }

  .footer__policy-catalog {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 945px) {
  .shop__row {
    max-width: 560px;
  }
}

@media (max-width: 900px) {
  .home-slider__images img {
    height: 400px;
  }
}

@media (max-width: 830px) {
  .footer__column:nth-child(3) {
    width: 320px;
  }

  .footer__form {
    width: 320px;
  }

  .footer__email {
    width: 320px;
  }
}

@media (max-width: 825px) {
  .home-slider__text1 {
    font-size: 40px;
    margin-bottom: 30px;
  }

  .home-slider__text2 {
    font-size: 12px;
  }

  .home-slider__images img {
    height: 350px;
  }
}

@media (max-width: 768px) {
  .header__logo {
    display: none;
  }

  .header__item--1 {
    display: none;
  }

  .header__item--2 {
    margin-left: 5px;
  }

  .header__search {
    width: 190px;
    opacity: 1;
    visibility: visible;
    -webkit-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
  }

  .marketing {
    margin-left: 30px;
  }

  .shop {
    margin-top: 70px;
  }

  .shop__item {
    margin-bottom: 30px;
    font-size: 20px;
  }
}

@media (max-width: 735px) {
  .footer__container {
    max-width: 500px;
  }

  .footer__block1 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__column:not(:last-child) {
    margin-right: 0px;
  }

  .footer__column:nth-child(1) {
    margin-right: 80px;
  }

  .footer__column:nth-child(3) {
    margin-top: 30px;
  }

  .footer__body1,
  .footer__body2 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__icon {
    margin-bottom: 15px;
  }

  .footer__icon:last-child {
    margin-right: 15px;
  }
}

@media (max-width: 710px) {
  .container {
    padding: 0px 15px;
  }

  .home-slider__container {
    padding: 0px 15px;
  }

  .home-slider__images img {
    height: 300px;
  }

  .shop-banner__container {
    padding: 0;
  }
}

@media (max-width: 680px) {
  .column-banners {
    width: 480px;
  }

  .column-banners__text1 {
    font-size: 36px;
  }

  .column-banners__text2 {
    font-size: 15px;
  }
}

@media (max-width: 660px) {
  .shop__row {
    max-width: 276px;
  }

  .block-shop {
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 600px) {
  .home-slider__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 30%;
            flex: 1 0 30%;
  }

  .home-slider__text1 {
    font-size: 30px;
  }

  .home-slider__text2 {
    font-size: 12px;
    white-space: normal;
  }
}

@media (max-width: 570px) {
  .footer__policy-catalog {
    margin-bottom: 15px;
  }
}

@media (max-width: 555px) {
  .footer__policy:last-child {
    margin-right: 25px;
  }

  .footer__policy {
    margin-right: 25px;
  }
}

@media (max-width: 513px) {
  .footer__policy:last-child {
    margin-right: 25px;
  }

  .footer__policy {
    margin-right: 15px;
  }
}

@media (max-width: 500px) {
  .home-slider__text1 {
    font-size: 25px;
    margin-bottom: 20px;
  }

  .home-slider__images img {
    height: 250px;
  }

  .home-slider__images img {
    height: 250px;
  }
}

@media (max-width: 480px) {
  .column-banners {
    width: 320px;
    padding: 0px 15px;
    height: 200px;
  }

  .column-banners__body {
    margin-top: 55px;
  }

  .column-banners__text1 {
    font-size: 26px;
    margin-bottom: 15px;
  }

  .column-banners__text2 {
    font-size: 12px;
  }

  .column-banners__images img {
    width: 140px;
    height: 200px;
  }
}

@media (max-width: 470px) {
  .shop__categories {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .shop__item {
    font-size: 27px;
    margin-bottom: 36px;
  }

  .shop__item:nth-child(2) {
    margin-left: 40px;
  }

  .shop__item:nth-child(1) {
    margin-left: 45px;
  }
}

@media (max-width: 425px) {
  .marketing {
    margin-left: 15px;
  }

  .home-slider {
    margin-bottom: 35px;
  }

  .home-slider__text1 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .home-slider__text2 {
    font-size: 10px;
  }

  .footer__container {
    padding: 0px 5px;
  }

  .footer__container2 {
    padding: 0px 5px;
  }

  .footer__column:nth-child(3) {
    width: 300px;
  }

  .footer__column:nth-child(1) {
    margin-right: 20px;
  }

  .footer__form {
    width: 300px;
  }

  .footer__email {
    width: 300px;
  }
}

@media (max-width: 375px) {
  .container {
    padding: 0px 5px;
  }

  .marketing {
    margin-left: 5px;
  }

  .home-slider__container {
    padding: 0px 5px;
  }

  .home-slider__images img {
    height: 200px;
  }

  .shop-banner__container {
    padding: 0;
  }

  .shop-banner__title {
    font-size: 40px;
  }
}